<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/Vue.js"></script>
</head>

<body>
  <div id="app">
    <label :for="item" v-for="item in arr">
      <input type="checkbox" :id="item" :value="item" v-model="hobby">{{item}}
    </label>
    <h1>您选择了:{{hobby}}</h1>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        hobby:[],
        arr:['篮球','足球','排球','乒乓球','羽毛球']
      },
      methods: {},
      //计算属性
      computed: {},
      //侦听器
      watch: {},
    });
  </script>
</body>

</html>