<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div {
      margin-top: 20px;
    }
  </style>
  <script src="../js/Vue.js"></script>
</head>

<body>
  <div id="app">
    <form action="">
      <div>
        <span>
          姓名：
          <span>
            <input type="text" v-model="ipt">
          </span>
        </span>
      </div>
      <div>
        <span>
          性别：
          <span>
            <label for="man">男</label>
            <input type="radio" id="man" value="1" v-model='sax'>
            <label for="wuman">女</label>
            <input type="radio" id="wuman" value="2" v-model="sax">
          </span>
        </span>
      </div>
      <div>
        <span>
          爱好：
          <label for="sing">唱歌</label>
          <input type="checkbox" id="sing" value="1" v-model='hobby'>
          <label for="dance">跳舞</label>
          <input type="checkbox" id="dance" value="2" v-model='hobby'>
          <label for="rap">rap</label>
          <input type="checkbox" id="rap" value="3" v-model='hobby'>
        </span>
      </div>
      <div>
        <span>
          职业：
          <select name="" id="" v-model="zy" multiple>
            <option value="0">--请选择职业--</option>
            <option value="1">教师</option v-model="zy">
            <option value="2">程序猿</option v-model="zy">
            <option value="3">律师</option v-model="zy">
            <option value="4">医生</option v-model="zy">
          </select>
        </span>
      </div>
      <div>
        <span>
          个人简介：
          <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea>
        </span>
      </div>
      <input type="submit" value="提交按钮" @click.prevent="btn">
    </form>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        ipt: '',
        sax: '',
        hobby: [],
        zy: [],
        text: ''
      },
      methods: {
        btn() {
          console.log(this.zy);
          console.log(this.hobby);
          console.log(this.sax);
          console.log(this.ipt);
          console.log(this.text);
        }
      }
    });
  </script>
</body>

</html>