<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/Vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- 遍历数组 -->
    <ul>
      <li v-for="item in arr">{{item}}</li>
    </ul>
    <ul>
      <!-- item 为与元素   index为元素的下标  -->
      <li v-for="(item ,index) in arr">{{index + 1}} {{item}}</li>
    </ul>
    <!-- 遍历对象 -->
    <ul>
      <!-- 可以传递三个 参数 key valye index -->
      <li v-for="(key,value ,index) in obj">{{index}}:{{value}}:{{key}}</li>
    </ul>
    <!-- 按钮 -->
    <button @click='btnclick'>按钮</button>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        arr: ['pink', 'red', 'green'],
        obj: {
          name: 'zs',
          age: 18,
          sex: '男'
        }
      },
      methods: {
        btnclick() {
          // splice 可以删除，也可以添加元素
          // 从第一个位置开始，向后面删除两个
          // this.arr.splice(1, 2,)
          // 从第一个位置开始，向后面添加两个
          this.arr.splice(3, 0, 'bluer', 'yellow')
          // Vue.set(要修改的对象，索引值，修改后的值)
          Vue.set(this.arr, 1, 'sport')
        }
      }
    });
  </script>
</body>

</html>